@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
html, body {
  color: white;
  font-family: 'PT Serif', serif;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrap{
    overflow: hidden;
    margin: 0;
    width:100%;
    height:5162px;
    position: relative;
}

/*ハンバーガーメニュー*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 100;
  }
  
  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 80%;
  }
  
  .overlay.open li {
    animation: fadeInRight 0.3s ease forwards;
    animation-delay: 0.1s;
  }
  
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.3s;
  }
  
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.4s;
  }
  
  .overlay nav {
    position: relative;
    height: 40%;
    top: 30%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    text-align: center;
  }
  
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  
  .overlay ul li a {
    display: block;
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
  }
  
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #008BBB;
    transition: 0.2s;
  }
  

/*JQuery用*/
.blur {
  filter: blur(7px);
}

.delete {
  display: none;
}

.main-nav {
  width: 220px;
  position: fixed;
  top: 0;
  left: -220px;
  height: 100%;
  border-right: 2px solid;
}

.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav li {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

/*メニューバー*/
.button_container {
  position: fixed;
  top: 3%;
  display: none;
  right: 4%;
  height: 38px;
  width: 35px;
  cursor: pointer;
  z-index: 200;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.4;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: white;
}

.button_container.active .middle {
  opacity: 0;
  background: white;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: white;
}

.button_container span {
  background: white;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 100;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 80%;
}

.overlay.open li {
  animation: fadeInRight 0.3s ease forwards;
  animation-delay: 0.1s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.2s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.3s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.4s;
}

.overlay nav {
  position: relative;
  height: 40%;
  top: 30%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #008BBB;
  transition: 0.2s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*タイトル*/
/*header part*/

.header-top{
    top: -143px;
    left: 0px;
    position: relative;
    height: 768px;
    margin:0;
    background: url(../img/jesse-gardner-0tKc9vaYUAw-unsplash.jpg) ;
    opacity: 1;
    background-size: cover;
}

.header-right{
    width: 100%;
    height: 768px;
    padding: .8em 1.6em .4em .8em;
    display: inline-block;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 0.8; 
    position: absolute;
} 
 .header-right::before{
    content: "";
    left: 364px;
    top: 0;
    width: 100%;
    height: 768px;
    z-index: -1;
    background:#001762 ;
    transform: scaleY(5.0) perspective(.6em) rotateX(1.7deg) scaleX(1.0);
    transform-origin: bottom right;
    position: absolute;
    border-radius: 8px 8px 0 0;
}  

.header-right h1{
    top: 490px;
    left: 1128px;
    z-index: 1;
    position: relative;
    width: 148px;
    height: 32px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.header-right h2{
    top: 482px;
    font-size: 88px;
    left: 680px;
    width: 603px;
    height: 116px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 88px/116px Roboto;
    letter-spacing: 0px;
    position: relative;
    color: #FFFFFF;
    opacity: 1;
}

.header-top button {
    top: 655px;
    left: 998px;
    width: 275px;
    position: absolute;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
        background-color: transparent;
    color:#FFFFFF;
}



/* Profile Section */

/*profile part*/
.profile_section{

    height: 4394.25px;
    margin:0;
    overflow:hidden;    
}

.about-me-title p{
    white-space: nowrap;
    top: 130.62px;
    left: 562px;
    width: 242px;
    height: 74px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: relative;
}
.about-me-under-bar{
    top: 974px;
    left: 563px;
    width: 242px;
    height: 0px;
    border: 3px solid #2150BC;
    opacity: 1;
    position: absolute;
}


.profile_image img{
    top: 1020px;
    left: 208px;
    width: 323px;
    height: 287px;
    opacity: 1;
    position: absolute;
}

.profile_image img:hover {
    box-shadow: 0 5px 10px black;
    transform: translate(0, -5px);
}

.introduction_text{
    top: 176px;
    left: 637px;
    width: 562px;
    height: 256px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: relative;
}

.profile_background p{ 
    top: 1355px;
    left: 637px;
    width: 173px;
    height: 43px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.profile_background_content {
    top: 1430px;
    left: 637px;
    width: 224px;
    height: 46px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
    white-space: nowrap
}

.profile_background p{
    top: 1355px;
    left: 637px;
    width: 173px;
    height: 43px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.profile_background p2{
    top: 1355px;
    left: 818px;
    width: 26px;
    height: 43px;
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2150BC;
    opacity: 1;
    position: absolute;
}

/* サービス紹介 */

/*service part*/
.service_section{
    top: 1719px;
    left: 0px;
    width:100%;
    height: 1200px;
    background: url(../img/janko-ferlic-y0fjfgD2bLg-unsplash.jpg)  #001762 0% 0% no-repeat padding-box;
    background-position:bottom;  
    background-color: #001762;
    opacity: 1.0;
    background-size: cover;
    position: absolute;
    overflow:hidden;    
    z-index: 1;
}

.service_section::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#001762;
    opacity: 0.6;
    display:block
}


.service_section2{
    top:776px;
    left: 0px;

    height: 424px;
    background: url(../img/janko-ferlic-y0fjfgD2bLg-unsplash.jpg)  #001762 0% 0% no-repeat padding-box;
    background-position: 20% 80%;
    opacity: 0.6;
    background-size: cover;
    position: absolute;
}

.service_section2::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    overflow:hidden;    
    margin: 0;
    bottom: 0;
    left: 0;
    background-color:#001762;
    opacity: 0.6;
    display:block
}



.service-title p{
    top: 130px;
    left: 589px;
    width: 188px;
    height: 74px;
    z-index: 1;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 2.0;
    position: absolute;
}

.Service-under-bar{
    top: 208px;
    left: 590px;
    width: 188px;
    height: 0px;
    border: 3px solid #6996FF;
    opacity: 1.0;
    position: absolute;
    z-index: 2;
}



.service-subtitle{
    top: 277px;
    left: 347px;
    width: 672px;
    height: 69px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 24px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1.0;
    z-index: 2;
    position: absolute;
}

.service-content-title1{
    top: 419px;
    left: 238px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    z-index: 2;
}

.service-content-title1 p{
    top: 20px;
    left:101px;
    z-index: 2;
    width: 101px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    background: #001762 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.service-price1{
    top: 509px;
    left: 238px;
    white-space: nowrap;
    width: 302px;
    z-index: 2;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-price1 p1{
    top: 32px;
    left: 79px;
    z-index: 2;
    width: 184px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: relative;
}
.service-price1 h1{
    top: 57px;
    left: 94px;
    width: 114px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    z-index: 2;
    opacity: 1;
    position: absolute;
}

.service-price1 p2{
    top: 116px;
    left: 94px;
    width: 114px;
    height: 21px;
    white-space: nowrap;
    z-index: 2;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.service-price1 h2{
    top: 141px;
    left: 81px;
    z-index: 2;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}
.service-detailed1{
    top: 730px;
    left: 238px;
    z-index: 2;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
.service-detailed1 h1{
    top: 32px;
    left: 31px;
    right:31px;
    width: 240px;
    height: 85px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-used-technology1{
    top: 888px;
    left: 238px;
    width: 302px;
    z-index: 2;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;;
}

.service-used-technology1 p1{
    top: 24px;
    left: 43px;
    width: 217px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}


.service-content-title2{
    top: 419px;
    left: 548px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    z-index: 2;
}
.service-content-title2 p{
    top: 20px;
    left: 66px;
    width: 170px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
}
.service-price2{
    top: 509px;
    left: 550px;
    width: 302px;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
    z-index: 2;
}

.service-price2 p1{
    top: 32px;
    left: 94px;
    width: 114px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-price2 h1{
    top: 57px;
    left: 81px;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.service-price2 p2{
    top: 116px;
    left:28px;
    width: 277px;
    height: 21px;
    white-space: nowrap;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.service-price2 h2{
    top: 141px;
    left: 81px;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}
.service-detailed2{
    top: 730px;
    left: 548px;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    z-index: 2;
    position: absolute;
}
.service-detailed2 h1{
    top: 32px;
    left: 32px;
    width: 240px;
    height: 59px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.service-used-technology2{
    top: 888px;
    left: 548px;
    width: 302px;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    z-index: 2;
    position: absolute;
}

.service-used-technology2 p1{
    top: 24px;
    left: 92px;
    width: 118px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-content-title3{
    top: 419px;
    left: 858px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 2;
    position: absolute;
}

.service-content-title3 p{
    top:20px;
    left:73px;
    width: 157px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.service-price3{
    top: 509px;
    left: 858px;
    width: 302px;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    z-index: 2;
    position: absolute;
}

.service-price3 p1{
    top:32px;
    left: 81px;
    width: 141px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-price3 h1{
    top: 57px;
    left: 72px;
    width: 158px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.service-price3 p2{
    top: 116px;
    left: 97px;
    width: 109px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-price3 h2{
    top: 141px;
    left: 72px;
    width: 158px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.service-detailed3{
    top: 730px;
    left: 858px;
    z-index: 2;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-detailed3 h1{
    top:32px;
    left: 31px;
    width: 240px;
    height: 85px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-used-technology3{
    top: 888px;
    left: 858px;
    width: 302px;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
    z-index: 2;
}

.service-used-technology3 p1{ 
    top:24px;
    left:51px;
    width: 201px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}


.contact-form-in-service button{
    top: 1088px;
    left: 545px;
    width: 276px;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    position: absolute;
    color: #FFFFFF;
    background-color: transparent;
    z-index: 2;
}

/*ポートフォリオ*/
/*ポートフォリオタイトル*/
.portfolio_title {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 30px;
  margin: auto;
  color: white;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.card-body {
  background-color: lightgray;
  text-align: center;
  height: 300px;
}

.card-title {
  font-size: 36px;
}

.card-text {
  font-size: 22px;
}

.portfolio_title p {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.portfolio_title p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #008BBB;
  transform: scale(0, 1);
  transition: 0.3s;
}

.portfolio_title p:hover:before {
  transform: scale(1);
}

/* スキル紹介 */


.skill_section_title h1{
    top: 3042px;
    left: 613px;
    width: 139px;
    height: 74px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.Skill-under-bar{
    top: 3117px;
    left: 614px;
    width: 139px;
    height: 0px;
    border: 3px solid #2150BC;
    opacity: 1;
    position: absolute;
}

.skill-frontend {
    top: 3181px;
    left: 95px;
    width: 360px;
    height: 504px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.skill-frontend:hover{    
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	
}

.skill-frontend h1{
    top: 48px;
    left: 99px;
    width: 162px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend h2{
    top: 109px;
    left: 90px;
    width: 180px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}

.skill-frontend p1{
    top: 177px;
    left: 128px;
    width: 105px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p2{
    top:236px;
    left:141px;
    width: 79px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p3{
    top: 295px;
    left: 103px;
    width: 154px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p4{
    top: 354px;
    left: 133px;
    width: 94px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend{
    top: 3181px;
    left: 503px;
    width: 360px;
    height: 504px;
    background: #40559A 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.skill-backend:hover{
        
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	
}

.skill-backend h1{
    top:48px;
    left:103px;
    width: 155px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend h2{
    top:109px;
    left:100px;
    width: 160px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}

.skill-backend p1{
    top:177px;
    left:148px;
    width: 64px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.skill-backend p2{
    top:236px;
    left:133px;
    width: 95px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p3{
    top:295px;
    left:144px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p4{
    top:354px;
    left: 87px;
    width: 187px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p5{
    top:413px;
    left:150px;
    width: 60px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-other{
    top: 3181px;
    left: 911px;
    width: 360px;
    height: 504px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.skill-other:hover{    
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	
}

.skill-other h1{
    top:48px;
    left: 121px;
    width: 120px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-other h2{
    top: 109px;
    left: 91px;
    width: 179px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}


.skill-other p1{
    top:177px;
    left: 102px;
    width: 157px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.skill-other p2{
    top:236px;
    left:133px;
    width: 95px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}



/*作品*/







.work_section{
    top:933px;
 }
 
 
 /*work part*/
 
 .work_section_title h1{
     top: 3845px;
     left: 603px;
     width: 159px;
     height: 74px;
     color: var(--unnamed-color-151515);
     text-align: left;
     font: normal normal bold 56px/74px Roboto;
     letter-spacing: 0px;
     color: #151515;
     opacity: 1;
     position: absolute;
 }
 
 .Work-under-bar{
     top: 3920px;
     left: 604px;
     width: 159px;
     height: 0px;
     border: 3px solid #2150BC;
     opacity: 1;
     position: absolute;
 }
 
 .Work1{
     top: 3984px;
     left: 115px;
     width: 358px;
     height: 281px;
     background: transparent url('../img/todoapp.jpg') 0% 0% no-repeat padding-box;
     border: 1px solid #B5B5B5;
     opacity: 1;
     position: absolute;
 }
 
 .Work1-hover{
     top: 3984px;
     left: 115px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0;
 }
 
 .Work1-hover:hover{
     top: 3984px;
     left: 115px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0.8;
 }
 
 
 
 .Work1-hover h1{
     color: #FFFFFF;
     font: normal normal normal 20px/21px Roboto;
     top:64px;
     left:109px;
     opacity: 1;
     position: absolute;
 }
 
 .Work1-hover h2{
     color: #FFFFFF;
     font: normal normal normal 16px/21px Roboto;
     top:120px;
     left:147px;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work1-hover h3{
     color: #FFFFFF;
     top:144px;
     left:68px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work1-hover h4{
     color: #FFFFFF;
     top:200px;
     left:44px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work2{
     top: 3984px;
     left: 505px;
     width: 358px;
     height: 281px;
     background: transparent url('../img/todoapp.jpg') 0% 0% no-repeat padding-box;
     border: 1px solid #B5B5B5;
     opacity: 1;
     position: absolute;
 }
 
 .Work2-hover{
     top: 3984px;
     left: 505px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0;
     position: absolute;
 }
 
 
 .Work2-hover:hover{
     top: 3984px;
     left: 505px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0.8;
     position: absolute;
 }
 
 
 .Work2-hover h1{
     color: #FFFFFF;
     font: normal normal normal 20px/21px Roboto;
     top:64px;
     left:109px;
     opacity: 1;
     position: absolute;
 }
 
 .Work2-hover h2{
     color: #FFFFFF;
     font: normal normal normal 16px/21px Roboto;
     top:120px;
     left:147px;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work2-hover h3{
     color: #FFFFFF;
     top:144px;
     left:68px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work2-hover h4{
     color: #FFFFFF;
     top:200px;
     left:72px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
 }
 
 
 
 .Work3{
     top: 3984px;
     left: 894px;
     width: 358px;
     height: 281px;
     background: transparent url('../img/web-company.png') 0% 0% no-repeat padding-box;
     border: 1px solid #B5B5B5;
     opacity: 1;
     position: absolute;
 }
 
 .Work3-hover{
     top: 3984px;
     left: 894px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0.0;
     position: absolute;
 }
 .Work3-hover:hover{
     top: 3984px;
     left: 894px;
     width: 358px;
     height: 281px;
     opacity: 1;
     position: absolute;
     background: #000000 0% 0% no-repeat padding-box;
     opacity: 0.8;
     position: absolute;
 }
 
 
 .Work3-hover h1{
     color: #FFFFFF;
     font: normal normal normal 20px/21px Roboto;
     top:64px;
     left:100px;
     opacity: 1;
     position: absolute;
 }
 
 .Work3-hover h2{
     color: #FFFFFF;
     font: normal normal normal 16px/21px Roboto;
     top:120px;
     left:147px;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work3-hover h3{
     color: #FFFFFF;
     top:144px;
     left:68px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
 }
 
 
 .Work3-hover h4{
     color: #FFFFFF;
     top:200px;
     left:12px;
     font: normal normal normal 16px/21px Roboto;
     opacity: 1;
     position: absolute;
     white-space: nowrap;
 }
 
 /*footer part*/


 .footer-contact-form{
     top: 4425px;
     left: 0px;
     width:100%;
     overflow:hidden;    
     margin: 0px;
     height: 502px;
     background: #001762 0% 0% no-repeat padding-box;
     opacity: 0.8;
     background: url(../img/artem-beliaikin-qME4CejZTaI-unsplash.jpg);
     background-size: cover;
     position: absolute;
 }
 
 
 .footer-contact-form::before{
     content: "";
     left: 0px;
     left: 0px;
     opacity: 0.6;
     height: 502px;
     background: #001762 0% 0% no-repeat padding-box;
     position: absolute;
 }
 
 
 .footer-contact-form button{
     top:220px;
     color: #FFFFFF;
     left: 545px;
     width: 276px;
     height: 63px;
     border: 1px solid var(--unnamed-color-ffffff);
     border: 1px solid #FFFFFF;
     border-radius: 35px;
     opacity: 1;
     position: absolute;
     background-color: transparent;
 }
  
 .footer-contact-form button:hover{
  
    transform: scale(1.3);	/*画像の拡大率*/
	transition-duration: 0.7s;	/*変化に掛かる時間*/

 }

 
 .SNS-icon p1 {
     top: 72px;
     left: 596px;
     width: 42px;
     height: 48px;
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal normal 48px/58px Font Awesome 5 Brands;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     position: relative;
 }
 
 .SNS-icon p2 {
     top: 72px;
     left: 662px;
     width: 42px;
     height: 48px;
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal normal 48px/58px Font Awesome 5 Brands;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     position: absolute;
 }
 
 
 .SNS-icon p3 {
     top: 72px;
     left: 728px;
     width: 42px;
     height: 48px;
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal normal 48px/58px Font Awesome 5 Brands;
     letter-spacing: 0px;
     color: #FFFFFF;
     position: absolute;
 }
 
 
 .copyright{
     top: 4927px;
     height: 237px;
     width:100%;
     background: #001762 0% 0% no-repeat padding-box;
     opacity: 1;
     position: absolute;
 }
 
 .copy-right-text{
     top: 152px;
     left: 526px;
     white-space: nowrap;
     width: 314px;
     height: 21px;
     color: var(--unnamed-color-ffffff);
     text-align: left;
     font: normal normal normal 16px/21px Roboto;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     position: absolute;
 }


/*レスポンシブデザイン*/

@media screen and (max-width:450px) {
    .wrap{
        overflow: hidden;
        margin: 0;
        position: relative;
        height:6585px;
    }

    
    .header-top{
        left: 0px;
        height: 666.59px;
        background: url(../img/jesse-gardner-0tKc9vaYUAw-unsplash.jpg) ;
        opacity: 1;
        background-size: cover;
    }
    
    .header-right{
        width: 100%;
        height: 666.59px;
        display: inline-block;
        background: transparent 0% 0% no-repeat padding-box;
        opacity: 0.8; 
        position: absolute;
    } 
     .header-right::before{
        content: "";
        left: 364px;
        top: 0;
        margin:0px;
        width: 100%;
        height: 666.59px;
        z-index: -1;
        background:#001762 ;
        transform: scaleY(6.0) perspective(.6em) rotateX(3.05deg) scaleX(1.97);
        transform-origin: bottom right;
        position: absolute;
        border-radius: 8px 8px 0 0;
    }  
    
   .header-right h1{
       top:343px;
       left:138.54px;
       position: absolute;
       font-size: 16px;
   }
   .header-right h2{
    top:362px;
    left:49.54px;
    position: absolute;
    font-size: 40px;
}
.header-right a{
    top:50px;
    position: relative;

}
    
    /*プロフィール部分*/
    
    
    .about-me-title p{
        top:747px;
        font: normal normal bold 40px/74px Roboto;
        left: 95px;
        white-space: nowrap;
        position: absolute;
        right:107px;
    }
    .about-me-under-bar{
        top:804.5px;
        left: 95.5px;
        width: 173px;
    }
    
    .profile_image img{
        top: 861px;
        left: 72px;
        width: 220px;
        height: 196px;
    }
    
    .header-top button {
        top:421px;
        left:90.54px;
        width: 193px;
        height:48px;
        font-size:12px;
    }
    
    .introduction_text{
        top: 1089px;
        left: 47px;
        width: 281px;
        height: 295px;
        color: var(--unnamed-color-151515);
        text-align: left;
        font-size:13px;
        position: absolute;
        letter-spacing: 0px;
        color: #151515;
        opacity: 1;
    }
    
    
    .profile_background p{ 
        top: 1440px;
        left: 110px;
        width: 129px;
        height: 32px;
        font-size:24px;
    }
    
    .profile_background p2{ 
        top: 1440px;
        width: 19px;
        height: 32px;
        left: 247px;
    }
    
    .profile_background_content {
        left:60px;
        top:1504px;
        font-size:13px;
    }
    /*サービス部分*/
    .service_section{
        height:2258px;

        top:1719px;
    }
    
    
    
    
    .service-title p{
        top: 64px;
        left: 120px;
        width: 134px;
        height: 53px;
        font-size:40px;
    }
    .Service-under-bar{
        top:121.5px;
        left:120.5px;
        width: 134px;
    }
    .service-subtitle {
        top:170px;
        left:37px;
        width: 302px;
        font-size:16px;
        text-align: left;
    }
    .service-content-title1{
        top: 291px;
        left: 37px;
        width: 302px;
        height: 82px;
        font-size:16px;
    }
    .service-price1{
        top:381px;
        left:37px;
        width: 302px;
        white-space: nowrap;

        height: 216px;
        font-size:16px;
    }
    .service-detailed1{
        top:605px;
        left:37px;
        width: 302px;
        height: 149px;
        font-size:13px;
    }
    .service-used-technology1{
        top:762px;
        width: 302px;
        left: 37px;
        height: 69px;
    }
    .service-content-title2{
        top:865px;
        left: 36px;
        width: 302px;
        height: 82px;
        font-size:16px;
        white-space: nowrap;
    }
    .service-price2{
        top:955px;
        left: 36px;
        width: 302px;
        height: 216px;
        font-size:16px;
    
    }
    .service-detailed2{
        top:1179px;
        left: 36px;
        width: 302px;
        height: 149px;
        font-size:13px;
    }
    
    .service-used-technology2{
        top:1332px; 
        left: 36px;
        width: 302px;
        height: 69px;
        font-size:13px;
    }
    
    .service-content-title3{
        top:1467px;
        left: 36px;
        width: 302px;
        height: 82px;
        font-size:16px;
    
    }
    .service-price3{
        top:1557px;
        left: 36px;
        width: 302px;
        height: 216px;
        font-size:16px;
    
    }
    .service-detailed3{
        top:1781px;
        left: 36px;
        width: 302px;
        height: 149px;
        font-size:13px;
    }
    
    .service-used-technology3{
        top:1938px; 
        left: 36px;
        width: 302px;
        height: 69px;
        font-size:13px;
    }
    
    .contact-form-in-service button{
        top: 2079px;
        left:87px;
        width:193px;
        font-size: 13px;
    
    }
    
    
    /*スキル紹介部分*/

    
    .skill_section_title h1{
        top: 4055px;
        left: 138px;
        width: 139px;
        height: 74px;
        font-size: 40px;
        letter-spacing: 0px;
        color: #151515;
        opacity: 1;
        position: absolute;
    }
    
    .Skill-under-bar{
        top: 4112.5px;
        left: 138px;
        width: 99.5px;
    }
    
    
    .skill-frontend {
        top: 4169px;
        left: 46px;
        width: 283px;
        height: 317px;
        position: absolute;
    }
    .skill-frontend h1{
        top:35px;
       left:61px;
       white-space: nowrap;
       font-size: 40px;
    }
    .skill-frontend h2{
        top:85px;
        left:70px;
        font-size: 16px;
        width:144px;
        white-space: nowrap;
     }
     .skill-frontend p1{
        top:133px;
        left:103px;
        font-size: 24px;
        width:78px;
    }
     .skill-frontend p2{
        top:173px;
        left:112px;
        font-size: 24px;
        width:60px;
     }
    .skill-frontend p3{
       top:213px;
       left:84px;
       font-size: 24px;
       width:116px;
    }
    
    .skill-frontend p4{
        top:253px;
        left:107px;
        font-size: 24px;
        width:70px;
     }
    
    .skill-backend{
        top:4518px;
        width:283px;
        height:357px;
        left:46px;
    }

    
    .skill-backend h1{
        top:32px;
        left:64px;
        font-size: 40px;
    }
    
    .skill-backend h2{
        top:85px;
        left:78px;
        font-size: 16px;
     }
    
    .skill-backend p1{
        top:133px;
        left:118px;
        font-size: 24px;
        width:78px;
    }
    .skill-backend p2{
        top:173px;
        left:106px;
        font-size: 24px;
        width:60px;
     }
     .skill-backend p3{
       top:213px;
       left:114px;
       font-size: 24px;
    }
    .skill-backend p4{
        top:253px;
        left:71px;
        white-space: nowrap;
        font-size: 24px;
        width:70px;
    }
    .skill-backend p5{
        top:293px;
        left:119px;
        font-size: 24px;
        width:70px;
    }
    
    
    .skill-other{
        top:4907px;
        width:283px;
        height:237px;
        left:46px;
    }
    
    .skill-other h1{
        top:32px;
        width:283px;
        height:237px;
        font-size:40px;
        left:82px;
    }    
    .skill-other h2{
        top:85px;
        width:283px;
        height:237px;
        font-size:16px;
        left:70px;
    }    
    
    .skill-other p1{
        top:133px;
        height:133px;
        font-size:24px;
        left:83px;
    }    
    
    .skill-other p2{
        top:173px;
        height:133px;
        font-size:24px;
        left:106px;
    }    
    
    
    
    
    /*作品紹介部分*/
    
    .Work1{
        top: 5334px;
        left: 46px;
        width: 283px;
        height: 222px;
        background: transparent url('../img/todoapp.jpg') 0% 0% no-repeat padding-box;
        border: 1px solid #B5B5B5;
        opacity: 1;
        position: absolute;
    }
    
    
    .Work1-hover{
        top: 5334px;
        left: 46px;
        width: 283px;
        height: 222px;
    }
    
    
    .work_section_title h1{
        top: 5244px;
        left: 131px;
        font-size: 40px;
    }
    
    .Work-under-bar{
        top: 5301.5px;
        left: 131.5px;
        width:113px;
    }
    .Work2{
        top: 5581px;
        left: 46px;
        width: 283px;
        height: 222px;
    }
    .Work2-hover{
        top: 5581px;
        left: 46px;
        width: 283px;
        height: 222px;
    }
    .Work3{
        top: 5828px;
        left: 46px;
        width: 283px;
        height: 222px;
    }
    
    
    /*フッター部分*/
    
    .footer-contact-form{
        top: 6150px;
        height: 248px;
    }
    
    .footer-contact-form button{
        top:100px;
        left:91px;
        width:193px;
        height:48px;
        font-size: 14px;
    }
    
    .copyright{
        top:6398px;
        height: 187px;
        position: absolute;
    }
    
    
    .SNS-icon p1 {
        left:104px;
        top:64px;
        
        width: 35px;
        height: 40px;
    }



    
    .SNS-icon p2 {
        top:64px;
        left:170px;
        width: 35px;
        height: 40px;
    
    }
    
    
    .SNS-icon p3 {
        left:236px;
        top:64px;
        width: 35px;
        height: 40px;
    }
    
    
    
    .copy-right-text{
    
       top:128px;
       left:60px;
       font-size: 13px;
    }
       
}


@media screen and (min-width:600px) and ( max-width:900px){

        
/*ヘッダー部分*/
.header-top{
    width:120%;
}
.wrap{
    overflow: hidden;
    margin: 0;
    width:100%;
    height:7000px;
    position: relative;
}

.header-top h1{
    top: 470px;
    width: 148px;
    left:550px;
    height: 32px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: relative;
    opacity: 1;
}

.header-top h2{

    top: 482px;
    font-size: 88px;
    left:450px;
    width: 603px;
    height: 116px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-size: 40px;
    font: normal normal medium 70px/116px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.header-top button {
    top: 580px;
    width: 275px;
    left:450px;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    position: absolute;
    opacity: 1;
        background-color: transparent;
    color:#FFFFFF;
}
.header-right{
    width: 100%;
    height: 768px;
    padding: .8em 1.6em .4em .8em;
    display: inline-block;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 0.8; 
    position: absolute;
} 
 .header-right::before{
    content: "";
    left: 364px;
    top: 0;
    width: 100%;
    height: 768px;
    z-index: -1;
    background:#001762 ;
    transform: scaleY(5.0) perspective(.6em) rotateX(1.5deg) scaleX(1.2);
    transform-origin: bottom right;
    position: absolute;
    border-radius: 8px 8px 0 0;
}  



/*プロフィール部分*/

.about-me-title p{
    left:260px;
}
.about-me-under-bar{
    left:260px;
}
.profile_image img{
    left:10px;
    top:1040px;
}
.introduction_text{
    width:320px;
    left:370px;
}
.profile_background p{
    left:360px;
}
.profile_background p2{
    left:530px;
}

.profile_background_content{
    width:280px;
    left:370px;
}

/*サービス部分*/

.service_section{
   width:100%;
}

.service-title p{
   left:320px;
}
.Service-under-bar{
    left:320px;
}
.service-subtitle {
    left:50px;
    text-align: left;
}
.service_content{
    width:50%;
}

.service-content-title1{
    width:220px;
    left:20px;
}
.service-content-title1 p{
    left:45px;
}


.service-price1{
    width:220px;
    left:20px;
    right:20px;
}
.service-price1 p1{
    left:20px;
}
.service-price1 p2{
    left:20px;
    white-space: nowrap;
}
.service-price1 h1{
    left:20px;
}
.service-price1 h2{
    left:20px;
}

.service-detailed1{
    width:220px;
    left:20px;
}

.service-detailed1 h1{
    width:160px;
    left:20px;
    top:10px;
}


.service-used-technology1{
    width:220px;
    left:20px;
}
.service-used-technology1 p1{
    left:0px;
    width: 220px;;
}


.service-content-title2{
    width:220px;
    left:275px;
    white-space: nowrap;
}
.service-content-title2 p{
    left:15px;
}


.service-price2{
    width:220px;
    left:275px;
}
.service-price2 p1{
    left:20px;
}
.service-price2 p2{
    width:190px;
    white-space: nowrap;
    left:20px;
}
.service-price2 h1{
    left:20px;
}
.service-price2 h2{
    top:160px;
    left:20px;
}

.service-detailed2{
    width:220px;
    left:275px;
}

.service-detailed2 h1{
    width:160px;
    left:20px;
    top:10px;
}


.service-used-technology2{
    width:220px;
    left:275px;
}
.service-used-technology2 p1{
    left:20px;
    width: 160px;;
}




.service-content-title3{
    width:220px;
    left:530px;
}
.service-content-title3 p{
    left:15px;
}



.service-price3{
    width:220px;
    left:530px;
}
.service-price3 p1{
    left:20px;
}
.service-price3 p2{
    width:190px;
    left:20px;
}
.service-price3 h1{
    left:20px;
}
.service-price3 h2{
    top:160px;
    left:20px;
}

.service-detailed3{
    width:220px;
    left:530px;
}

.service-detailed3 h1{
    width:160px;
    left:20px;
    top:10px;
}


.service-used-technology3{
    width:220px;
    left:530px;
}
.service-used-technology3 p1{
    left:5px;
    width: 220px;;
}
.contact-form-in-service button{
    left:260px;
}


/*スキル部分*/
.skill_section{
    height:2000px;
}

.skill_section_title h1{
    left:320px;
}

.Skill-under-bar{
    left:315px;
}

.skill-frontend{
    left:200px;
}
.skill-backend{
    left: 200px;
    top:3700px;
}

.skill-other{
    left: 200px;
    top:4220px;
}

/*作品部分*/
.work_section_title h1{
    left:320px;
    top:4800px;
}
.Work-under-bar{
    left:320px;
    top:4880px;
}

.Work1{
    left: 200px;
    top:5000px;
}
.Work2{
    left: 200px;
    top:5400px;
}
.Work3{
    left: 200px;
    top:5800px;
}
.work_section{
    height:2000px
}



/*フッダー部分*/
.footer-contact-form{
    top:6350px;

}

.footer-contact-form button{
    left:280px;
}
    
.SNS-icon p1 {
    left:320px;
}

.SNS-icon p2 {
    left:400px;
}


.SNS-icon p3 {
    left:480px;
}
.copyright{
    top:6800px;
}
.copyright p{
    left:270px;
}